


.gap-top{margin-top:2%;}
.gap-bottom{margin-bottom:2%;}
.gap-top-sec{margin-top:4% !important;}

.no-padding{padding:0px!important;}
.no-padding-left{padding-left:0px!important; }
.no-padding-right{padding-right:0px!important; }
.no-margin{margin:0px !important;}

.no-margin-left{margin-left:0px !important;}
.no-margin-right{margin-right:0px !important;}

.no-margin-top{margin-top:0px !important;}
.no-margin-bottom{margin-bottom:0px !important;}

.no-border{border:0px !important;}

.w-100{font-weight: 100;}
.w-200{font-weight: 200;}
.w-300{font-weight: 300;}
.w-400{font-weight: 400;}
.w-500{font-weight: 500;}
.w-600{font-weight: 600;}
.w-700{font-weight: 700;}

.text-white{color:#ffffff}
.text-foxblue{color:#194f7e;}
.text-gray{color:#333333;}
.text-orange{color: #d4765d;}
.text-purple{color: #6026a7;}

.bg-white{background-color: #ffffff !important;}
.bg-black{background-color: #1b1b1b !important;}
.bg-aqva{background-color: #00b0ff !important;}
.bg-pink { background-color: #ff0090 !important;}
.bg-green { background-color: #38a035 !important;}
.bg-ash {background-color: #ececec !important;}
.bg-red{background-color:#d32f2f !important;}
.border-white{border-color: #ffffff !important;}

.cr-pointer{cursor: pointer;}
