
@media only screen  and (max-width:2000px) and (min-width: 1700px){
	
	
}


@media only screen  and (max-width:1699px) and (min-width: 1500px)
{ 
  
	  
}

@media only screen  and (max-width:1499px) and (min-width: 1400px)
{ 
 
 
}

@media only screen  and (max-width:1399px) and (min-width: 1300px)
{	
  
  
}

@media only screen  and (max-width:1299px) and (min-width: 1200px)
{ 	
 
}


@media only screen  and (max-width:1199px) and (min-width: 1000px)
{ 
 
}


/** 990**/

@media only screen  and (max-width:999px) and (min-width: 800px)
{  
 
}


@media only screen  and (max-width:799px) and (min-width: 765px)
{
 
}

 
@media screen and ( min-width: 1000px ){
 	
}


@media screen and ( max-width: 1000px ){
	
}


@media screen and ( max-width: 767px ){

}
 

@media only screen  and (max-width:800px) and (min-width: 769px){
 
}


@media only screen  and (max-width:768px) and (min-width: 700px){
 
}


@media only screen  and (max-width:699px) and (min-width: 650px){
	
 
}


@media only screen  and (max-width:649px) and (min-width: 600px){
 
}


@media only screen  and (max-width:599px) and (min-width: 550px){	
 
}


@media only screen  and (max-width:549px) and (min-width: 500px){
 
}


@media only screen  and (max-width:499px) and (min-width: 450px){
 
}


@media only screen  and (max-width:449px) and (min-width: 401px){
 
}


@media only screen  and (max-width:400px) and (min-width: 350px){
 
}



@media only screen  and (max-width:349px) and (min-width: 300px){
 
 
}






